scratch/

data/biorxiv
data/biorxiv_disqus
data/biorxiv_altmetric
data/asm_altmetric

*qsub*


sync_data.sh
check_data.sh

scopus.key



export WOS_USER="WSMichigan_HG"
export WOS_PASSWORD="C5TI3NL1"
